@model IndexViewModel



<div class="col-12 text-center">
    @foreach (var item in Model.KwejkViewModel)
    {
        <div class="bottom-top-padding">
            <h3 class="text-white">@item.Title</h3>
            <img src="@item.ImageUrl" class="border border-larger"/>
        </div>
    }
</div>
