@{
    ViewData["Title"] = "Choose Wisely";
}

<div class="col-12 text-center align-top" style="margin-top: 10vh;">
    <a href="@Url.Action("Index","Kwejk")">
        <img src="~/Images/kwejk_logo.png" class="img-fluid enlargingOnHover"/>
    </a>
</div>



