<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          href="~/lib/twitter-bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="~/lib/GlobalStyles.css"/>
    <title>Memsy</title>
</head>
<body>

    <div class="row m-1 p-1" >
        @RenderBody()
    </div>

    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
